---
// Required notice: Copyright (c) 2024, Will Shown <ch-ui@willshown.com>
import { persistentAtom } from '@nanostores/persistent';
import { ChOklchPicker } from '../components/Elements.jsx';
import { docsTokens } from '../tokens.ts';
import get from 'lodash.get';
const userTokensConfigString = persistentAtom(
  'ch-tokens-config',
  JSON.stringify(docsTokens),
);
const userTokensConfig = JSON.parse(userTokensConfigString.get());
const accentKeyPoint = get(userTokensConfig, 'colors.physical.series.accent.srgb.keyPoint');
---
<style>
  #tokens-editor-label {
    margin-block-start: 0;
  }
</style>
<p id="tokens-editor-label">Base token set configuration</p>
<ChOklchPicker aria-labelledby="tokens-editor-label" lightness={accentKeyPoint[0]} chroma={accentKeyPoint[1]} hue={accentKeyPoint[2]} />
<script>
  import { persistentAtom } from '@nanostores/persistent'
  import { type Gamut, renderFacet } from '@ch-ui/tokens';
  import { docsTokens } from '../tokens.ts';
  import set from 'lodash.set';
  import { yieldOrContinue } from 'main-thread-scheduling';
  import { ChOklchPickerCustomEvent, Oklch } from '@ch-ui/elements';

  const gamuts = ['srgb', 'p3', 'rec2020'] satisfies Gamut[];

  const tokensConfigString = persistentAtom('ch-tokens-config',
    JSON.stringify(docsTokens)
  );

  let tokensConfig = JSON.parse(tokensConfigString.get());

  const $colorsPhysicalLayer = document.createElement('style');
  $colorsPhysicalLayer.id = 'colors.physical';
  document.head.appendChild($colorsPhysicalLayer);

  const $accentKeyPointInput = document.querySelector('ch-oklch-picker');

  // gamuts.forEach((gamut)=>{
  //   set(defaultTokenSet, `colors.physical.series.accent.${gamut}.keyPoint[2]`, valueNumber);
  // })

  $accentKeyPointInput!.addEventListener('oklchChange', async ({ detail: {lightness, chroma, hue} }: ChOklchPickerCustomEvent<Oklch>) => {
    gamuts.map(gamut=>{
      console.log('[tokensConfig]', tokensConfig.colors.physical.series.accent);
      set(tokensConfig, `colors.physical.series.accent.${gamut}.keyPoint`, [lightness, chroma, hue]);
    });
    await yieldOrContinue('interactive');
    $colorsPhysicalLayer.textContent = `@layer user-tokens { ${
      renderFacet(tokensConfig.colors)
    } }`;
  });
</script>
